:root {
    --cc-richVermillion: #D62828;
    --cc-dustyGrapePurple: #A675A1;
    --cc-pastelGreenGrape: #C8D9B0;
    --cc-golden-apricot: #E8B768;
    --cc-leafy-sage: #7BA87D;
    --cc-creamWhite: #FAF3E7;
    --cc-warm-taupe: #A49A87;
    --cc-abyssBlue: #003049;
    --cc-abyssBlueLighten: #ADE2FF;
    --cc-offBlack: #1C1C1E;

    --cc-blue: #0d6efd;
    --cc-indigo: #6610f2;
    --cc-purple: #6f42c1;
    --cc-pink: #d63384;
    --cc-red: #dc3545;
    --cc-orange: #fd7e14;
    --cc-yellow: #ffc107;
    --cc-green: #198754;
    --cc-teal: #20c997;
    --cc-cyan: #0dcaf0;
    --cc-black: #000;
    --cc-white: #fff;
    --cc-offWhite: #FAF3E7;
    --cc-gray: #6c757d;
    --cc-gray-dark: #343a40;
    --cc-gray-100: #f8f9fa;
    --cc-gray-200: #e9ecef;
    --cc-gray-300: #dee2e6;
    --cc-gray-400: #ced4da;
    --cc-gray-500: #adb5bd;
    --cc-gray-600: #6c757d;
    --cc-gray-700: #495057;
    --cc-gray-800: #343a40;
    --cc-gray-900: #212529;
    --cc-primary: #0d6efd;
    --cc-secondary: #6c757d;
    --cc-success: #198754;
    --cc-info: #0dcaf0;
    --cc-warning: #ffc107;
    --cc-danger: #dc3545;
    --cc-light: #f8f9fa;
    --cc-dark: #212529;
    --cc-primary-rgb: 13, 110, 253;
    --cc-secondary-rgb: 108, 117, 125;
    --cc-success-rgb: 25, 135, 84;
    --cc-info-rgb: 13, 202, 240;
    --cc-warning-rgb: 255, 193, 7;
    --cc-danger-rgb: 220, 53, 69;
    --cc-light-rgb: 248, 249, 250;
    --cc-dark-rgb: 33, 37, 41;
    --cc-primary-text-emphasis: #052c65;
    --cc-secondary-text-emphasis: #2b2f32;
    --cc-success-text-emphasis: #0a3622;
    --cc-info-text-emphasis: #055160;
    --cc-warning-text-emphasis: #664d03;
    --cc-danger-text-emphasis: #58151c;
    --cc-light-text-emphasis: #495057;
    --cc-dark-text-emphasis: #495057;
    --cc-primary-bg-subtle: #cfe2ff;
    --cc-secondary-bg-subtle: #e2e3e5;
    --cc-success-bg-subtle: #d1e7dd;
    --cc-info-bg-subtle: #cff4fc;
    --cc-warning-bg-subtle: #fff3cd;
    --cc-danger-bg-subtle: #f8d7da;
    --cc-light-bg-subtle: #fcfcfd;
    --cc-dark-bg-subtle: #ced4da;
    --cc-primary-border-subtle: #9ec5fe;
    --cc-secondary-border-subtle: #c4c8cb;
    --cc-success-border-subtle: #a3cfbb;
    --cc-info-border-subtle: #9eeaf9;
    --cc-warning-border-subtle: #ffe69c;
    --cc-danger-border-subtle: #f1aeb5;
    --cc-light-border-subtle: #e9ecef;
    --cc-dark-border-subtle: #adb5bd;
    --cc-white-rgb: 255, 255, 255;
    --cc-black-rgb: 0, 0, 0;
    --cc-font-sans-serif: "Work Sans", sans-serif;
    --cc-font-serif: "Merriweather", serif;
    --cc-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --cc-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --cc-body-font-family: var(--cc-font-sans-serif);
    --cc-bodyFontSizeDesktop: 1rem;
    --cc-bodyFontSizemobile: 0.875rem;
    --cc-body-font-weight: 400;
    --cc-body-line-height: 1.5;
    --cc-body-color: #212529;
    --cc-body-color-rgb: 33, 37, 41;
    --cc-body-bg: #fff;
    --cc-body-bg-rgb: 255, 255, 255;
    --cc-emphasis-color: #000;
    --cc-emphasis-color-rgb: 0, 0, 0;
    --cc-secondary-color: rgba(33, 37, 41, 0.75);
    --cc-secondary-color-rgb: 33, 37, 41;
    --cc-secondary-bg: #e9ecef;
    --cc-secondary-bg-rgb: 233, 236, 239;
    --cc-tertiary-color: rgba(33, 37, 41, 0.5);
    --cc-tertiary-color-rgb: 33, 37, 41;
    --cc-tertiary-bg: #f8f9fa;
    --cc-tertiary-bg-rgb: 248, 249, 250;
    --cc-heading-color: inherit;
    --cc-heading-font-family: var(--cc-font-serif);
    --cc-link-color: #0d6efd;
    --cc-link-color-rgb: 13, 110, 253;
    --cc-link-decoration: underline;
    --cc-link-hover-color: #0a58ca;
    --cc-link-hover-color-rgb: 10, 88, 202;
    --cc-code-color: #d63384;
    --cc-highlight-color: #212529;
    --cc-highlight-bg: #fff3cd;
    --cc-border-width: 1px;
    --cc-border-style: solid;
    --cc-border-color: #dee2e6;
    --cc-border-color-translucent: rgba(0, 0, 0, 0.175);
    --cc-border-radius: 0.375rem;
    --cc-border-radius-sm: 0.25rem;
    --cc-border-radius-lg: 0.5rem;
    --cc-border-radius-xl: 1rem;
    --cc-border-radius-xxl: 2rem;
    --cc-border-radius-2xl: var(--cc-border-radius-xxl);
    --cc-border-radius-pill: 50rem;
    --cc-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --cc-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --cc-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    --cc-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    --cc-focus-ring-width: 0.25rem;
    --cc-focus-ring-opacity: 0.25;
    --cc-focus-ring-color: rgba(13, 110, 253, 0.25);
    --cc-form-valid-color: #198754;
    --cc-form-valid-border-color: #198754;
    --cc-form-invalid-color: #dc3545;
    --cc-form-invalid-border-color: #dc3545;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  background-color: var(--cc-body-bg);
  color: var(--cc-body-color);
  font-family: var(--cc-body-font-family);
  font-size: var(--cc-bodyFontSizemobile);
  font-weight: var(--cc-body-font-weight);
  letter-spacing: -.45px;
  line-height: var(--cc-body-line-height);
  margin: 0;
  text-align: var(--cc-body-text-align);
}
@media (min-width: 1200px) {
  body {
    font-size: var(--cc-bodyFontSizeDesktop);
  }
}

hr {
  border-top: var(--cc-border-width) solid;
  border: 0;
  color: inherit;
  height: 2px;
  margin: 1rem 0;
}

h6, h5, h4, h3, h2, h1 {
  color: var(--cc-heading-color);
  font-family: var(--cc-heading-font-family);
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

h3 {
  font-family: var(--cc-body-font-family);
  font-weight: 700;
  letter-spacing: -.5px;
}

h1 {
  font-size: calc(2.5rem + 1.25vw);
}
@media (min-width: 1200px) {
  h1 {
    font-size: 4.5rem;
  }
}

h2 {
  font-size: calc(1.5rem + 1vw);
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2.25rem;
  }
}

h3 {
  font-size: calc(1.25rem + 0.5vw);
}
@media (min-width: 1200px) {
  h3 {
    font-size: 1.275rem;
  }
}

h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4 {
    font-size: 1.5rem;
  }
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin-bottom: 1rem;
  margin-top: 0;
}

abbr[title] {
  -webkit-text-decoration-skip-ink: none;
  -webkit-text-decoration: underline dotted;
  cursor: help;
  text-decoration-skip-ink: none;
  text-decoration: underline dotted;
}

address {
  font-style: normal;
  line-height: inherit;
  margin-bottom: 1rem;
}

ol,
ul {
  padding-left: 2rem;
}

ol,
ul,
dl {
  margin-bottom: 1rem;
  margin-top: 0;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 0.875em;
}

mark {
  background-color: var(--cc-highlight-bg);
  color: var(--cc-highlight-color);
  padding: 0.1875em;
}

sub,
sup {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: rgba(var(--cc-link-color-rgb), var(--cc-link-opacity, 1));
  text-decoration: underline;
}
a:hover {
  --cc-link-color-rgb: var(--cc-link-hover-color-rgb);
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

pre,
code,
kbd,
samp {
  font-family: var(--cc-font-monospace);
  font-size: 1em;
}

pre {
  display: block;
  font-size: 0.875em;
  margin-bottom: 1rem;
  margin-top: 0;
  overflow: auto;
}
pre code {
  color: inherit;
  font-size: inherit;
  word-break: normal;
}

code {
  color: var(--cc-code-color);
  font-size: 0.875em;
  word-wrap: break-word;
}
a > code {
  color: inherit;
}

kbd {
  background-color: var(--cc-body-color);
  border-radius: 0.25rem;
  color: var(--cc-body-bg);
  font-size: 0.875em;
  padding: 0.1875rem 0.375rem;
}
kbd kbd {
  font-size: 1em;
  padding: 0;
}

figure {
  margin: 0 0 1rem;
}

img,
svg {
  vertical-align: middle;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

caption {
  color: var(--cc-secondary-color);
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  text-align: left;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

label {
  display: inline-block;
}

button {
  border-radius: 0;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

input,
button,
select,
optgroup,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[role=button] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}
select:disabled {
  opacity: 1;
}

[list]:not([type=date]):not([type=datetime-local]):not([type=month]):not([type=week]):not([type=time])::-webkit-calendar-picker-indicator {
  display: none !important;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}
button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

textarea {
  resize: vertical;
}

fieldset {
  border: 0;
  margin: 0;
  min-width: 0;
  padding: 0;
}

legend {
  float: left;
  font-size: calc(1.275rem + 0.3vw);
  line-height: inherit;
  margin-bottom: 0.5rem;
  padding: 0;
  width: 100%;
}
@media (min-width: 1200px) {
  legend {
    font-size: 1.5rem;
  }
}
legend + * {
  clear: left;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-inner-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type=search]::-webkit-search-cancel-button {
  cursor: pointer;
  filter: grayscale(1);
}

/* rtl:raw:
[type="tel"],
[type="url"],
[type="email"],
[type="number"] {
  direction: ltr;
}
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

::file-selector-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

iframe {
  border: 0;
}

summary {
  cursor: pointer;
  display: list-item;
}

progress {
  vertical-align: baseline;
}

[hidden] {
  display: none !important;
}

/*# sourceMappingURL=bootstrap-reboot.css.map */