@import 'reset.css';

html, body {
    background-color: var(--cc-creamWhite);
    overflow-x: hidden;
    scroll-behavior: smooth;

    .button {
        align-items: center;
        border-color: var(--cc-offBlack);
        border-radius: .5rem;
        border-style: solid;
        border-width: 1px;
        display: flex;
        font-size: 0.875rem;
        font-weight: 600;
        gap: .5rem;
        justify-content: center;
        min-width: 6rem;
        outline: none;
        padding-bottom: .75rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: .75rem;
        text-align: center;
        text-decoration: none;
        transition-duration: .35s;
        transition-property: all;
        transition-timing-function: ease;

        &:hover {
            border-radius: 1.5rem;
        }

        &.primary {
            background-color: var(--cc-abyssBlue);
            border-color: var(--cc-abyssBlue);
            color: var(--cc-white);

            &:hover {
                background-color: var(--cc-creamWhite);
                color: var(--cc-abyssBlue);
            }
        }

        &.secondary {
            background-color: transparent;
            border-color: var(--cc-abyssBlue);
            color: var(--cc-abyssBlue);

            &:hover {
                background-color: var(--cc-abyssBlue);
                color: var(--cc-white);
            }
        }
    }

    .container {
        display: grid;
        margin-left: auto;
        margin-right: auto;
        max-width: 1600px;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    header {
        background-color: var(--cc-creamWhite);
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;

        .headerContent {
            display: grid;
            gap: 1rem;
            grid-template-columns: 1fr;
            justify-items: center;

            nav {
                display: grid;
                gap: 1rem;
                grid-template-columns: 1fr 1fr;
                width: 100%;

                :last-child {
                    grid-column: span 2;
                }
            }

           .pageHeaderCallout {
                align-items: center;
                display: grid;
                gap: .5rem;
                grid-template-columns: 1fr;
                justify-items: center;

                .pageHeader {
                    color: var(--cc-abyssBlue);
                    font-family: var(--cc-body-font-family);
                    font-size: 3.5rem;
                    font-weight: 300;
                    letter-spacing: -1px;
                    line-height: 1;
                    margin-bottom: 0;
                    word-spacing: -.5rem;
        
                    strong {
                        font-weight: 700;
                    }
                }

                .supportText {
                    color: var(--cc-richVermillion);
                    font-size: .875rem;
                    font-weight: 700;
                    letter-spacing: -.5px;
                    margin-bottom: 0;
                    transition: .25s ease-in-out all;
                }
            } 
        }
    }

    .introCallout {
        background-color: var(--cc-abyssBlue);
        padding-bottom: 2rem;
        padding-top: 2rem;

        .container {
            align-items: center;
            gap: 1rem;
            grid-template-columns: 1fr;

            img {
                aspect-ratio: 1 / 1;
                width: 100%;

                &.grayscale {
                    filter: grayscale(100%);
                }

                &.masked {
                    mask-image: url('/imgs/stamp.svg');
                    mask-position: center;
                    mask-repeat: no-repeat;
                    mask-size: cover;
                }
            }

            .introCalloutTextBlock {
                h1, p {
                    color: var(--cc-creamWhite);
                }

                h2 {
                    color: var(--cc-abyssBlueLighten);
                }

                hr {
                    background: var(--cc-creamWhite);
                    background: linear-gradient(90deg,var(--cc-creamWhite) 0%, var(--cc-abyssBlueLighten) 100%);
                    width: 100%;
                }

                .buttonContainer {
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;

                    .button {
                        background-color: var(--cc-richVermillion);
                        border-color: var(--cc-richVermillion);
                        color: var(--cc-white);

                        &:hover {
                            background-color: var(--cc-creamWhite);
                            border-color: var(--cc-creamWhite);
                            color: var(--cc-richVermillion);
                        }

                        &.secondary {
                            background-color: var(--cc-creamWhite);
                            border-color: var(--cc-creamWhite);
                            color: var(--cc-richVermillion);

                            &:hover {
                                background-color: var(--cc-richVermillion);
                                border-color: var(--cc-richVermillion);
                                color: var(--cc-creamWhite);
                            }
                        }
                    }
                }
            }
        }
    }

    .about {
        padding-bottom: 2rem;
        padding-top: 2rem;

        .container {
            align-items: center;
            gap: 1rem;
            grid-template-columns: 1fr;

            .aboutTextBlock {
                h2 {
                    span {
                        color: var(--cc-richVermillion);
                        font-weight: 900;
                        letter-spacing: -.5px;
                    }
                }

                hr {
                    background: var(--cc-creamWhite);
                    background: linear-gradient(90deg,var(--cc-abyssBlue) 0%, var(--cc-richVermillion) 100%);
                    width: 100%;
                }

                p {
                    span {
                        color: var(--cc-richVermillion);
                        font-weight: 700;
                    }
                }

                &.rightAligned {
                    order: -1;
                }
            }

            img {
                aspect-ratio: 4 / 3;
                border-radius: 3rem;
                object-fit: cover;
                width: 100%;
            }
        }
    }

    .process {
        background-color: var(--cc-richVermillion);

        .container {
            gap: 1rem;
            justify-items: center;
            padding-bottom: 2rem;
            padding-top: 2rem;

            .timeline {
                align-items: center;
                display: grid;
                gap: 1rem;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                width: 100%;
                
                .processStep {
                    align-items: center;
                    display: grid;
                    gap: 1rem;
                    justify-items: center;

                    svg {
                        color: var(--cc-creamWhite);
                        font-size: calc(2.5rem + .5vw);
                    }

                    p {
                        color: var(--cc-creamWhite);
                        font-size: .875rem;
                        font-weight: 700;
                        margin-bottom: 0;
                        text-transform: uppercase;
                    }
                }

                hr {
                    background: var(--cc-creamWhite);
                    width: 75%;
                }
            }
            
            p {
                color: var(--cc-richVermillionLighten);
                margin-bottom: 0;
            }
        }
    }

    footer {
        background-color: var(--cc-offBlack);
        padding-bottom: 2rem;
        padding-top: 2rem;
    }
}

@media (min-width: 1024px) {
    html, body {
        overflow-x: initial;

        .container {
            padding-left: 2rem;
            padding-right: 2rem;
        }

        .button {
            font-size: 1rem;
            min-width: 7.5rem;
            padding-bottom: .5rem;
            padding-left: 1.25rem;
            padding-right: 1.25rem;
            padding-top: .5rem;
        }

        header {
            border-bottom-color: var(--cc-abyssBlue);
            border-bottom-width: 1px;
            border-bottom-style: solid;
            position: sticky;
            top: 0;
            z-index: 1;
            transition: .25s ease-in-out all;

            .headerContent {
                align-items: center;
                grid-template-columns: 1fr auto;
                justify-items: flex-start;

                nav {
                    display: flex;
                    gap: .5rem;
                    width: auto;

                    :last-child {
                        grid-column: initial;
                    }
                }

                .pageHeaderCallout {
                    gap: 1rem;
                    grid-template-columns: auto 1fr;
                    justify-items: start;

                    .pageHeader {
                        font-size: 3rem;
                        transition: .25s ease-in-out all;
                    }
                }
            }

            &.isScrolled {
                padding-bottom: 8px;
                padding-top: 8px;

                .headerContent {
                    align-items: center;
                    grid-template-columns: 1fr auto;
                    justify-items: flex-start;

                    nav {
                        .button {
                            font-size: .875rem;
                        }
                    }

                    .pageHeaderCallout {
                        .pageHeader {
                            font-size: 2.25rem;
                        }
                        .supportText {
                            font-size: .75rem;
                            letter-spacing: -.25px;
                        }
                    }
                }
            }
        }

        .introCallout {
            padding-bottom: 5rem;
            padding-top: 5rem;
    
            .container {
                gap: 4rem;
                grid-template-columns: auto 1fr;

                .introCalloutTextBlock {
                    hr {
                        background: linear-gradient(90deg,var(--cc-creamWhite) 0%, var(--cc-abyssBlueLighten) 50%);
                        width: 50%;
                    }
                }
            }
        }

        .about {
            padding-bottom: 5rem;
            padding-top: 5rem;
    
            .container {
                gap: 4rem;
                grid-template-columns: 1fr 1fr;

                .aboutTextBlock {
                    hr {
                        background: linear-gradient(90deg,var(--cc-abyssBlue) 0%, var(--cc-richVermillion) 50%);
                        width: 50%;
                    }

                    &.rightAligned {
                        order: initial;
                    }
                }

                img {
                    border-radius: 4rem;
                }
            }
        }

        .process {
            .container {
                .processStep {
                    svg {
                        font-size: 4rem;
                    }

                    p {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}