.detailHeader {
    align-items: center;
    background-color: #222222;
    border-bottom: 2px solid #000000;
    display: grid;
    gap: .5rem;
    grid-template-columns: max-content 1fr max-content max-content;
    justify-content: flex-start;
    left: 0;
    padding: 1rem .5rem;
    position: sticky;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 5001;
}

#pokemonDetailContent {
    display: grid;
    gap: 2.5rem;
    padding: .5rem;
}

.detailHeader h1 {
    color: #F6F6F6;
    font-size: 1.5rem;
    letter-spacing: .5px;
    line-height: 100%;
    margin-bottom: 0;
    text-shadow: none;
}

.detailHeader .back-btn {
    box-shadow: none;
    color: #F6F6F6;
    padding: 0;
    text-shadow: none;
}

.detailHeader .icon-btn {
    min-width: inherit;
}

.detailHeader .additionalActions {
    display: grid;
    gap: 1rem;
    grid-template-columns: auto auto;
}

.detailHeader .cry-button {
    align-self: center;
    background: transparent;
    border: 1px solid #F6F6F6;
    border-radius: 64px;
    display: block;
    height: 40px;
    margin-left: auto;
    padding: 0;
    width: 40px;
}

.cry-button span.icon.play::before {
    color: #F6F6F6;
    font-size: 1.25rem;
}

.detailHeader .favorite-heart {
    position: unset;
}

.detailHeader .additionalActions span.icon.heart-icon.not-favorite {
    color: #F6F6F6;
}

.detailHeader .additionalActions span.icon.heart-icon.favorite {
    color: #D6546A;
}

#pokemonDetailPanel {
    background-color: #000000;
}

.pokemonDetails {
    display: grid;
    color: #F6F6F6;
    gap: .5rem;
    margin: -.5rem;
    padding: .5rem;
}

.pokemonDetails .container {
    color: #F6F6F6;
    display: grid;
    gap: .5rem;
    grid-template-columns: .75fr 1.25fr;
    height: fit-content;
}

.pokemonIDAndSpecies {
    display: grid;
    gap: .5rem;
    grid-template-columns: max-content auto;
}

.pokemonSpecies {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #F6F6F6;
    border-radius: .5rem;
    display: grid;
    font-weight: 700;
    padding: .5rem 1.5rem;
    justify-content: center;
    text-align: center;
}

.pokemonID {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #F6F6F6;
    border-radius: .5rem;
    display: grid;
    font-weight: 700;
    padding: .5rem 1.5rem;
    justify-content: center;
    text-align: center;
}

.pokemonImage {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #F6F6F6;
    border-radius: .5rem;
    padding: .5rem;
}

.pokemonImage img {
    display: block;
    width: 100%;
}

.pokemonInfo {
    align-content: center;
    background-color: rgba(0, 0, 0, .5);
    border-radius: .5rem;
    border: 1px solid #F6F6F6;
    display: grid;
    gap: .5rem;
    padding: .5rem;
}

.metricHeight,
.metricWeight {
    font-size: .75rem;
}

.pokemonTypings {
    border: 1px solid #F6F6F6;
    padding: .5rem;
    border-radius: .5rem;
    background-color: rgba(0, 0, 0, .5);
}

.dualTyping {
    display: grid;
    gap: .5rem;
    grid-template-columns: 1fr 1fr;
}

.pokemonTypings .type-badge {
    border: none;
    height: 100%;
    width: 1rem;
}

.type1, .type2 {
    background-color: var(--type-bg-color, rgba(0, 0, 0, 0.3));
    padding: .25rem;
    border-radius: .25rem;
    justify-content: center;
    display: grid;
}

.paragraphGrid {
    display: grid;
    gap: .5rem;
    grid-template-columns: max-content 1fr;
    align-content: center;
}

.paragraphGrid .label {
    display: grid;
    gap: .25rem;
    grid-template-columns: 1.25rem 1fr;
    align-content: center;
}

.additionalPokemonInfo {
    border: 1px solid #F6F6F6;
    border-radius: .5rem;
    color: #F6F6F6;
    font-size: .875rem;
    padding: 1.5rem .5rem;
    position: relative;
}

.additionalPokemonInfo h2 {
    background: #000000;
    border: 1px solid #F6F6F6;
    border-radius: 4rem;
    color: #F6F6F6;
    font-size: 12px;
    font-weight: 300;
    padding: .5rem;
    position: absolute;
    top: -1.25rem;
}