.button {
	align-items: center;
	border-color: var(--slateBlack);
	border-radius: .5rem;
	border-style: solid;
	border-width: 2px;
	box-sizing: border-box;
	display: flex;
    font-family: var(--bodyFontFamily);
	font-size: 1rem;
	font-weight: 600;
	gap: .5rem;
	justify-content: center;
    letter-spacing: -.5px;
	outline: none;
	padding-bottom: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 1rem;
	text-align: center;
	text-decoration: none;
	transition-duration: .25s;
	transition-property: all;
	transition-timing-function: ease;
    width: 100%;

	&:hover {
		border-radius: 1.75rem;
	}

	&.abyssBlue {
		background-color: var(--abyssBlue);
		border-color: var(--abyssBlue);
		color: var(--creamWhite);

		&:hover {
			background-color: var(--creamWhite);
			color: var(--abyssBlue);
		}

		&.secondary {
			background-color: var(--creamWhite);
			color: var(--abyssBlue);

			&:hover {
				background-color: var(--abyssBlue);
				color: var(--creamWhite);
			}
		}
	}

    &.abyssBlueLighten {
		background-color: var(--abyssBlueLighten);
		border-color: var(--abyssBlueLighten);
		color: var(--abyssBlue);

		&:hover {
			background-color: var(--abyssBlue);
			color: var(--abyssBlueLighten);
		}

		&.secondary {
			background-color: var(--creamWhite);
            border-color: var(--creamWhite);
			color: var(--abyssBlue);

			&:hover {
				background-color: var(--abyssBlue);
                border-color: var(--abyssBlueLighten);
				color: var(--abyssBlueLighten);
			}
		}
	}

	&.richVermillion {
		background-color: var(--richVermillion);
		border-color: var(--richVermillion);
		color: var(--creamWhite);

		&:hover {
			background-color: var(--creamWhite);
			color: var(--richVermillion);
		}

		&.secondary {
			background-color: var(--creamWhite);
			border-color: var(--richVermillion);
			color: var(--richVermillion);

			&:hover {
				background-color: var(--richVermillion);
				border-color: var(--richVermillion);
				color: var(--creamWhite);
			}
		}
	}

	&.disabled {
		background-color: #CCCCCC;
		border-color: #CCCCCC;
		color: #666666;
		
		&:hover {
			border-radius: .5rem;
			cursor: not-allowed;
		}
	}
}

@media (min-width: 1024px) {
    .button {
        padding-bottom: .75rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: .75rem;
    }
}