footer {
	background: var(--slateBlack) url('/assets/imgs/topography.svg') repeat fixed;
	border-top: 4px solid var(--richVermillion);
	color: var(--creamWhite);
	padding: 2rem 0;

	.container{
		align-items: center;
		grid-template-columns: .5fr auto;
		gap: 1rem;

		p {
			justify-self: flex-start;
			margin-bottom: 0;
		}

		.socialLinks {
			display: flex;
			flex-direction: row;
			gap: 1rem;
			justify-self: flex-end;

			a {
				color: var(--creamWhite);
				font-size: 1.5rem;
				line-height: 1;
				width: 1.75rem;

				svg {
					height: auto;
					width: 100%;
				}
			}
		}
	}
}

@media (min-width: 1024px) {
    footer {
		padding: 4rem 0;
	}
}