footer {
	background: var(--slateBlack) url('/assets/imgs/topography.svg') repeat fixed;
	border-top: 4px solid var(--richVermillion);
	color: var(--creamWhite);
	padding: 2rem 0;

	.container{
		align-items: center;
		grid-template-columns: auto auto;
		gap: 1rem;

		p {
			align-items: center;
			display: flex;
			font-size: 1rem;
			font-weight: 700;
			gap: .25rem;
			justify-self: flex-start;
			margin-bottom: 0;
		}

		.socialLinks {
			display: flex;
			flex-direction: row;
			gap: .5rem;
			justify-self: flex-end;

			a {
				background-color: var(--creamWhite);
				border-radius: .25rem;
				color: var(--slateBlack);
				font-size: 1rem;
				line-height: 0;
				padding: .5rem .75rem;
				transition-duration: .25s;
				transition-property: all;
				transition-timing-function: ease;

				&:first-child {
					border-radius: 1rem .25rem .25rem 1rem;
				}
				
				&:last-child {
					border-radius: .25rem 1rem 1rem .25rem;
				}

				&:hover {
					border-radius: 1rem;
				}
			}
		}
	}
}

@media (min-width: 1024px) {
    footer {
		padding: 2.875rem 0;
	}
}