html {
	scroll-behavior: smooth;
}

body {
    &.noScroll {
        overflow: hidden;
    }
}

img {
    border-radius: 1rem;

    &.grayscale {
        filter: grayscale(100%);

        &.faded {
            filter: grayscale(50%);
        }
    }

    &.sepia {
        filter: sepia(100%);
    }
}

h1, h2, h3, h4, h5, h6, p {
    span {
        font-weight: 900;

        &.abyssBlue {
            color: var(--abyssBlue);
        }

        &.ignore {
            all: unset;
        }

        &.richVermillion {
            color: var(--richVermillion);
        }
    }
}

hr {
	border: none;
	border-radius: 1rem;
	height: 4px;
	margin: 1rem 0;
    width: 100%;

    &.creamWhiteToAbyssBlueLighten {
        background: var(--creamWhite);
        background: linear-gradient(90deg,var(--creamWhite) 0%, var(--abyssBlueLighten) 100%);
    }

    &.slateBlackToRichVermillion {
        background: var(--slateBlack);
        background: linear-gradient(90deg,var(--slateBlack) 0%, var(--richVermillionLighten) 100%);
    }
}

section {
    overflow: hidden;
	padding-bottom: 2rem;
	padding-top: 2rem;
}

.container {
	display: grid;
	margin-left: auto;
	margin-right: auto;
	max-width: 1600px;
	padding-left: 1rem;
	padding-right: 1rem;

    &.narrow {
        max-width: 1400px;
    }
}

@media (min-width: 1024px) {
    hr {
        width: 75%;

        &.creamWhiteToAbyssBlueLighten {
            background: linear-gradient(90deg,var(--creamWhite) 0%, var(--abyssBlueLighten) 75%);
        }

        &.slateBlackToRichVermillion {
            background: linear-gradient(90deg,var(--slateBlack) 0%, var(--richVermillion) 75%);
        }
    }

    img {
        border-radius: 2rem;
    }

    section {
        padding-bottom: 5rem;
		padding-top: 5em;
    }

    .container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}