<footer class="footer background--ink border border--color--ember border--position--top">
    <div class="container container--size--main">
        <div class="copyright">
            <p class="h5 text--color--white">Clay Cauley © 2026</p>
            <p class="h6 text--color--faded-sand-light"> All rights reserved.</p>
        </div>
        <hr class="hr hr--color--faded-sand-light no-margin desktop-only">
        <div class="footer-nav">
            <div class="row-1">
                <a class="link text--color--faded-sand-light" href="index.html">Home</a>
                <a class="link text--color--faded-sand-light" href="#">About Me</a>
                <a class="link text--color--faded-sand-light" href="projects.html">Projects</a>
            </div>
            <div class="row-2">
                <a class="link text--color--faded-sand-light" href="#">Contact</a>
                <a class="link text--color--faded-sand-light" href="#">Linked In</a>
            </div>
        </div>
    </div>
</footer>