<header class="header">
    <div class="container container--size--main">
        <div class="logo">
            <a href="/">
                <p class="h2 text--color--white">Clay Cauley</p>
                <p class="h6 tagline text--color--faded-sand-light">Full Stack Designer & Front End Developer</p>
            </a>
        </div>
        <nav class="nav">
            <a class="btn btn--md btn--tertiary btn--tertiary--white" href="index.html">Home</a>
            <a class="btn btn--md btn--tertiary btn--tertiary--white" href="about-me.html">About Me</a>
            <a class="btn btn--md btn--tertiary btn--tertiary--white" href="projects.html">Projects</a>
            <div class="btn-container">
                <a class="btn btn--md btn--primary--ember" href="contact.html">Contact <span class="icon icon--solid icon--long-arrow-right text--color--ink reverse"></span></a>
            </div>
        </nav>
        <button aria-label="Menu" class="menu"><span class="icon icon--solid icon--bars text--color--ember"></span></button>
        <div class="overlay"></div>
    </div>
</header>
